# Ignore all .wav files...
*.wav
# ...but DO NOT ignore keep_audio_ch_active.wav
!keep_audio_ch_active.wav

# Other things to ignore
.venv/
__pycache__/
*.pyc
*.log
.git/
.gitignore
.env
music_generated/
news_data_cache/