__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
logs/

# Virtual environments
.venv
tmp/*

# 
*.bin
*.onnx
*.wav
!keep_audio_ch_active.wav
*.mp3
*.mp4
.DS_Store
*.pem
*log

.env

uv.lock
settings.json
news_data_*.json

music_generated/*
hardware/*
