[Unit]
Description=World Theme Music Player Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=pi
Group=docker
ExecStart=/usr/bin/docker run --rm --name world-theme-player --privileged -v /dev/snd:/dev/snd -v /home/pi/daily_mood_theme_song_player/music_generated:/app/music_generated world-theme-music

[Install]
WantedBy=multi-user.target